[server]
# The size of batches to send to the server
batchsize = 1
# The number of clients to simulate
clients = 100
# The interval of time between simulated data collection in seconds
interval = 5
# The name space to simulate, recommended to use a namespace that is unique so you can easily remove it
namespace = testmetrics.test1
# Number of metrics to simulate per client Example: metric_0 - metric_30
maxmetrics = 30
# The graphite host to connect too
host = somehost.somewhere.com 
# The port for graphite line protocol
port = 2003
# Keepalive time
keepaliveinterval = 15
# connection time out
timeout = 5
# Number of runs iterate through
runs = 10
#Logging level
loglevel = DEBUG





